.label {
  font-size: 15px;
  font-weight: bold;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 5px solid black;
}

.profile {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  color: #0f254c;
  font-size: 16px;
  gap: 2px;
  position: relative;
  z-index: +1;
}
