.userProfilesContainer {
  /* background-color: rgb(13, 221, 85); */
  height: 700px;
  width: 380px;
  padding: 10px;
  border-radius: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid white;
  box-shadow: 5px 20px 50px #888888;
  overflow-y: scroll;
}

.userProfilesContainer::-webkit-scrollbar {
  display: none;
}

.profileCards {
  height: 100%;
  width: 100%;
}

.pro {
  display: flex;
  justify-content: center;
}
