.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 20vw;
}
.comparison {
  display: flex;
  justify-content: space-evenly;
}

/* @font-face {
  font-family: Circular-font;
  src: local("https://fonts.cdnfonts.com/css/circular-std");
}
* {
  font-family: Circular-font !important;
} */
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Lato:wght@300&family=Montserrat:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap");

body {
  color: aliceblue;
  background-color: rgb(161, 197, 197);
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
